{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Create object{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>

{% endblock %}

{% block forejs %} 
{% endblock %}

{% block content_title %}
    <h1>Create organism</h1>
{% endblock %}

{% block main %}
    <form method="post" action="./" class="form-horizontal js-active-form span12 pull-left">
        {% csrf_token %}

        {{ form|bootstrap }}
        <div class="form-actions">
            
            <button type="submit" class="btn btn-primary">Save</button>&nbsp;
        </div>
    </form>
{% endblock %}

{% block endjs %}
{% endblock %}