{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}My Downloads{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
{% endblock %}

{% block content_title %}
    <h1>My downloads</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="span8">
        {% if downloads %}
            <h2>Objects</h2>
            <table class="table">
                <thead>
                    <th>File</th>
                    <!-- <th>Size</th> -->
                    <th>Status</th>
                    <th>Created</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    {% for download in downloads %}
                        <tr>
                            {% if download.file_path %}
                                <td>
                                    <a href="{{ download.download_url }}">{{ download.file_path }}</a>
                                </td>
                                <!-- <td>{{ download.file.size }}</td> -->
                            {% else %}
                                <td>File expected</td>
                                <!-- <td></td> -->
                            {% endif %}
                            <td>{{ download.status }}</td>
                            <td>{{ download.created }}</td>
                            <td>{{ download.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>Download list empty.</p>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block endjs %}

{% dajaxice_js_import %}
<script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>
<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> -->
<script src="{{ STATIC_URL }}js/select2.min.js"></script>

<script type="text/javascript">

</script>
{% endblock %}