<div class="pagination">
    <span class="step-links">
        {% if has_previous %}
            <button onclick="Dajaxice.apps.bioface.pagination(Dajax.process,{'page':{{ previous_page_number }},'method':'{{ method }}','query':'123'})">previous</button>
        {% endif %}

        {% if has_next %}
            <button onclick="Dajaxice.apps.bioface.pagination(Dajax.process,{'page':{{ next_page_number }},'method':'{{ method }}','query':'123'})">next</button>
        {% endif %}
    </span>
</div>