{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Create object{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>

{% endblock %}

{% block forejs %} 
{% endblock %}

{% block content_title %}
    <h1>Select Objects</h1>
{% endblock %}

{% block main %}
    <form method="post" action="./" class="form-horizontal js-active-form span12 pull-left">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}   

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        {# <!-- Name --> #}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- laboratory ID --> #}
        <div class="control-group {% if form.lab_id.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.lab_id.id_for_label }}">{{ form.lab_id.label }}</label>
            <div class="controls">
                {{ form.lab_id }}
                {% for error in form.lab_id.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Tags --> #}
        <div class="control-group {% if form.tags.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
            <div class="controls">
                <input id="id_tags" name="tags" style="width: 220px;" value="{% firstof form.tags.value %}">
                {% for error in form.tags.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Organism --> #}
        <div class="control-group {% if form.organism.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.organism.id_for_label }}">{{ form.organism.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.organism }}
                <a class="btn btn-success" data-toggle="modal" data-target="#myModal1">add</a>
                {% for error in form.organism.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Source --> #}
        <div class="control-group {% if form.source.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.source.id_for_label }}">{{ form.source.label }}</label>
            <div class="controls">
                {{ form.source }}
                {% for error in form.source.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Comment --> #}
        <div class="control-group {% if form.comment.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
            <div class="controls">
                {{ form.comment }}
                {% for error in form.comment.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>


        <hr/>
        <div class="form-actions">
            
            <button type="submit" class="btn btn-primary">Save</button>&nbsp;
        </div>
    </form>

    <div id="create_modal_form">
        <div class="modal" id="myModal1" tabindex="-1" role="dialog"
             aria-labelledby="myModal1Label" aria-hidden="true" style="display: none">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModal1Label">Add Organism</h3>
            </div>
            <div class="modal-body">
                <form method="POST" id="create_organism" action="">
                {% include 'create_organism.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block endjs %}

    {% dajaxice_js_import %}
    <script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script type="text/javascript">
        function my_js_callback(data){
            alert(data.message);
        };
        function calculate(){
            Dajaxice.apps.bioface.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
        };

        function success_adding(id, name){
            // $('#myModal1').hide();
            $('#myModal1').modal('hide');
            $('#id_organism option:last').after('<option value="'+id+'">'+name+'</option>');
            $('#id_organism option:last').prop('selected', true);
            return false;
        };


        $('#create_organism').bind('submit', function(event) {
            Dajaxice.apps.bioface.add_organism(Dajax.process,{'form':$('#create_organism').serialize(true)});
            return false; // dont post it automatically
        });

        // function send_form(){
        //     Dajaxice.apps.bioface.send_form1(Dajax.process,{'form':$('#create_organism').serialize(true)});
        //     return false;
        // };

        // $('#id_tags').select2({tags:["1","2","3"]})
        $('#id_tags').select2({tags:[{% for id, value in form.fields.tags.choices %}"{{value}}", {% endfor %}]})
        

        // $(document).ready(function () {
            // $('#id_tags').select2({tags:["1","2","3"]});
          // $("#id_tags").select2({
          //     tags:["red", "green", "blue"],
          //     maximumInputLength: 10
          // });
        // });
          
    </script>

{% endblock %}