{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Edit My profile{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
{% endblock %}

{% block forejs %} 
{% endblock %}

{% block content_title %}
    <h1>Edit Object</h1>
{% endblock %}

{% block main %}
    <form method="post" action="./" class="form-horizontal js-active-form span8 pull-left">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        
        {{ form|bootstrap }}

        <div id="file_contener">
            ~<input multiple="multiple" type="file" id="uploadedfile" name='uploadedfile'>
        </div>
        
        
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Attributes</a></li>
                <li><a href="#tab2" data-toggle="tab">Sequences</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">

                    {% for attr in attr_list %}
                        {% if forloop.counter = 6 %}
                        <a onclick="toggle_filter()" id="hideBut" class="btn">></a>
                        <div class="show-hide">
                        {% endif %}
                        <div class="control-group">
                            <label class="control-label" for="attr_{{ attr.name }}"><a href="#">{{ attr.name }}</a></label>
                            <div class="controls">
                                <input type="text" id="attr_{{ attr.name }}" name="attr_{{ attr.name }}" value="{{ attr.value }}">
                            </div>
                        </div>
                        {% if forloop.counter >= 6 and forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- <a class="btn btn-primary pull-right">Add</a>&nbsp; -->
                    
                </div>
                <div class="tab-pane" id="tab2">
                    <p>List of sequences.</p>
                </div>
            </div>
        </div>

        <!-- <span>Attributes</span>
        <hr/> -->
        
        <div class="form-actions">
            
            <!-- <button type="submit" class="btn btn-primary">Save</button>&nbsp; -->
            Save Button
        </div>
    </form>

{% endblock %}

{% block endjs %}
{% dajaxice_js_import %}
<script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <script type="text/javascript">


        $("#uploadedfile").on("change", function(){
            file_data = this.files[0],
            fileName = file_data.name,
            fileSize = file_data.size;
            alert("Uploading: "+fileName+" @ "+fileSize+"bytes");
            Dajaxice.apps.bioface.upload_file(Dajax.process, { 'filename': fileName, 'file_data': file_data });
           // CustomFileHandlingFunction(file);
        });
        $(function() {
            
            
            // post_response = $.get('http://google.com', crossDomain = true);
        });

        function upload_2_server(upload_url){
            alert(upload_url);
            form_data = new FormData(file_data);
            form_data.append("file", file_data)

            $.ajax({
                type: 'post',
                url: upload_url,
                async: false,
                crossDomain: true,
                data: form_data,
                beforeSend: function (request)
                {
                    request.setRequestHeader('Access-Control-Allow-Origin', "*");
                },

              // success: success,
              // dataType: dataType
            });

            // $.ajax({
            // // Uncomment the following to send cross-domain cookies:
            // //xhrFields: {withCredentials: true},
            //     url: upload_url,
            //     type: 'POST',
            //     // dataType: 'json',
            //     context: file_data
            // }).done(function (result) {
            //     $(this).fileupload('option', 'done')
            //         .call(this, null, {result: result});
            // });

            // var form_data = new FormData(file_data);                  // Creating object of FormData class
            // // form_data.append("file", file_data) 
            // var response = $.ajax({
            //     url: upload_url,
            //     // dataType: 'text',
            //     cache: false,
            //     contentType: false,
            //     processData: false,
            //     crossDomain: true,
            //     async: false,
            //     // dataType: 'text',
            //     data: form_data,                         // Setting the data attribute of ajax with file_data
            //     type: 'POST',
            //     error: function(xhr,err,errorMessage){
            //         alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
            //         alert("responseText: "+xhr.responseText+errorMessage);
            //     },
            //     success: function (data)
            //     {
            //      alert ( " Done ! " + data );
            //     }
            //    });
            post_response = $.get(upload_url);
        }

        function get_file(){
            // Dajaxice.apps.bioface.get_file(Dajax.process, {});
        }

        function createUploader(){            
            var uploader = new qq.FileUploader({
                element: document.getElementById('file_contener'),
                onSubmit: function(id, fileName){
                    alert(fileName);

                    // Dajaxice.apps.bioface.upload_file(Dajax.process, { 'filename': fileName });
                    // return false
                },
                onProgress: function(id, fileName, loaded, total){alert(loaded);},
                action: '/'
            });           
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        // window.onload = createUploader;     
    

        $(".show-hide").hide();
        function toggle_filter() {
            $(".show-hide").toggle("hide");
        };

        $('#id_tags').select2({tags:[{% for id, value in form.fields.tags.choices %}"{{value}}", {% endfor %}]})

    </script>
{% endblock %}