{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles jsonify %}

{% block subtitle %}Edit My profile{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/bootstrap-fileupload.css" rel="stylesheet"/>

<!-- <link href="{{ STATIC_URL }}css/tagit.css" rel="stylesheet"/> -->
<!-- <link href="{{ STATIC_URL }}css/tagit-bootstrap.css" rel="stylesheet"/> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-base-1.8.20.css"> -->

  
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-base-1.8.20.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagit-stylish-yellow.css"> -->
{% endblock %}

{% block forejs %} 
{% endblock %}

{% block content_title %}
    <h1>Edit Object</h1>
{% endblock %}

{% block main %}
    <form method="post" action="./" id="update-form" class="form-horizontal js-active-form span8 pull-left">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        
        {{ form.id }}
        {% if form.object_version %}
            <input id="id_version" name="version" type="hidden" value="{{ form.object_version }}">
        {% else %}
            {{ form.version }}
        {% endif %}

        {# <!-- Organism --> #}
        <div class="control-group {% if form.organism.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.organism.id_for_label }}">{{ form.organism.label }} <i class="red">*</i></label>
            <div class="controls" id="js_organism_container">
                {{ form.organism }}
                {% for error in form.organism.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Name --> #}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Tag --> #}
        <!-- <div class="control-group {% if form.tags.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
            <div class="controls">
                {{ form.tags }}
                {% for error in form.tags.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div> -->

        <!-- <div class="box"> -->
            <!-- <ul id="demo2" data-name="demo2"> -->
            <!-- </ul> -->
          <!-- <div class="buttons">
            <button id="demo2GetTags" value="Get Tags">Get Tags</button>
            <button id="demo2ResetTags" value="Reset Tags">Reset Tags</button>
          </div> -->
        <!-- </div> -->

        {# <!-- lab_id --> #}
        <div class="control-group {% if form.lab_id.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.lab_id.id_for_label }}">{{ form.lab_id.label }}</label>
            <div class="controls">
                {{ form.lab_id }}
                {% for error in form.lab_id.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Source --> #}
        <div class="control-group {% if form.source.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.source.id_for_label }}">{{ form.source.label }}</label>
            <div class="controls">
                {{ form.source }}
                {% for error in form.source.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Comment --> #}
        <div class="control-group {% if form.comment.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
            <div class="controls">
                {{ form.comment }}
                {% for error in form.comment.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- <legend>Files</legend>
        <div class="control-group">
            <div class="controls">
                <ul>
                    {% for id, file_name in files_dict.items %}
                        <li><a class="js_download_file" data-file-id="{{ id }}">{{ file_name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-append">
                        <div class="uneditable-input span3">
                            <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-file">
                            <span class="fileupload-new">Select file</span>
                            <span class="fileupload-exists">Change</span>
                            <input id="object_file" name="object_file" type="file" />
                        </span>

                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                        <a id="start_fileupload" class="btn btn-primary fileupload-exists">Upload</a>
                    </div>
                </div>
                
            </div>
        </div> -->

        <!-- <input name="object_files" type="file"> -->

        <div class="hidden">
            <input name="files_dict" id="files_dict" value="">
            <input name="updated_attributes" id="updated_attributes" value="">
        </div>

        <!-- <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>&nbsp;
            Save Button
        </div> -->

        <div class="row">
            <div class="span8">

                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li><a href="#tab1" data-toggle="tab">Attributes</a></li>
                        <li><a href="#tab2" data-toggle="tab">Sequences</a></li>
                        <li class="active"><a href="#tab-file" data-toggle="tab">Files</a></li>
                    </ul>
                    <div class="tab-content custom-tab-content">
                        <div class="tab-pane" id="tab1">

                            {% for attr in attr_list|dictsort:"name" %}
                                {% if forloop.counter = 6 %}
                                <!-- <a onclick="toggle_filter()" id="hideBut" class="btn">></a>
                                <div class="show-hide"> -->
                                {% endif %}
                                <div class="control-group">
                                    <label class="control-label attr-control-label" for="{{ attr.name }}">{{ attr.name }}</label>
                                    <div class="controls attr-controls">
                                        {% if attr.options %}
                                            <select class="js_attribute_value js_select2" 
                                                data-pk="{{ attr.name }}" name="{{ attr.name }}" style="width: 220px">
                                                {% for option in attr.options %}
                                                    <option {% if attr.value == option %} selected {% endif %} 
                                                        value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="text" class="js_attribute_value" data-pk="{{ attr.name }}" name="{{ attr.name }}" value="{{ attr.value }}">
                                        {% endif %}
                                    </div>
                                </div>

                                {% if forloop.counter >= 6 and forloop.last %}
                                    <!-- </div> -->
                                {% endif %}
                            {% endfor %}
                            <!-- <a class="btn btn-primary pull-right">Add</a>&nbsp; -->
                            
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>List of sequences.</p>
                        </div>
                        <div class="tab-pane active" id="tab-file">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input span3">
                                        <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input id="object_file" name="object_file" type="file" />
                                    </span>

                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    <!-- <a id="start_fileupload" class="btn btn-primary fileupload-exists">Upload</a> -->
                                    <!-- <input type="text" /> -->
                                </div>
                            </div>

                            <table class="table" id="upload-files">
                                <col></col>
                                <col width=50></col>
                                {% for id, file_name in files_dict.items %}
                                    <tr class="fileid_{{ id }}">
                                        <td><a class="js_download_file" data-file-id="{{ id }}">{{ file_name }}</a></td>
                                        <td><a class="js-file-delete btn btn-mini btn-danger" data-file-id="{{ id }}">x</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <!-- <input name="file_description" type="text" placeholder="file description" id="file_description"> -->
                            

                        </div>
                    </div>
                </div>

                <!-- <span>Attributes</span>
                <hr/> -->
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right" style="margin-left: 170px" >Save</button>&nbsp;
                </div>
            <!-- </form> -->
            </div>
        </div>
    </form>
        

<div class="preloader-img" style="display: none"></div>

<!-- <form method="post" enctype="application/json" 
    id="downloadform_id" accept-charset="utf-8" name="myForm" onsubmit="addJSON(data)">
    <input type = "hidden" name="data" >
</form> -->

{% endblock %}

{% block endjs %}
    {% dajaxice_js_import %}
    <script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>

    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>

    <script src="{{ STATIC_URL }}js/select2.min.js"></script>
    <!-- // <script type="text/javascript" src="{{ STATIC_URL }}js/tagit.js"></script> -->
    <!-- // <script type="text/javascript" src="{{ STATIC_URL }}js/tagit-themeroller.js"></script> -->
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <!-- // <script type="text/javascript" src="{{ STATIC_URL }}js/FileSaver.js"></script> -->

    <script type="text/javascript">

        $('.js_select2').select2({})

        files_dict = {{ files_dict|jsonify }}

        $('.fileupload').fileupload({});

        $('.js_download_file').click(function(){

            // var query = {
            //     "method" : "get_file",
            //     "key": "{{ request.user.sessionkey }}",
            //     "params" : {
            //         "id" : $(this).data('fileId')
            // }}
            // function addJSON(el){
            //     el.value=JSON.stringify(query)
            // }
            // $('#downloadform_id').submit()

            // $.post("/api/v1", query);
            // $form = $("<form>").appendTo("body");
            // $form.hide()
            //     .attr('method', "POST")
            //     .attr('action', fileUrl)


            // $.form('/api/v1', query)


            // $.ajax({
            //     url: "/api/v1",
            //     contentType: 'application/json',
            //     dataType: 'json',
            //     data: JSON.stringify(query),
            //     type: 'POST',
            //     success: function(data){
            //         content = data;
            //         uriContent = "data:application/octet-stream," + encodeURIComponent(content);
            //         // или в Base64...
            //         // newWindow=window.open(uriC÷ontent, "myDocument");
            //         location.href = uriContent
            //         // или лучше location.href = uriContent, что позволит избежать ругани с открытием окна

            //         // saveAs(new Blob([data]), $(this).text());
            //     }
            // }).always(function() { alert() });

            var formHTML = '<form action="/download" method="post">'+
                '<input type="hidden" name="id" value="'+$(this).data('fileId')+'" />'+
                '<input type="hidden" name="key" value="{{ request.user.sessionkey }}" />'+
                '</form>';
            $(formHTML).submit()


        })

        // $('#id_tags').select2({tags:[{% for tag in form.fields.tags.choices %}{{ tag.name }}, {% endfor %}]})

        
        //   var availableTags = [
        //     {% for id, value in form.fields.tags.choices %}
        //         {
        //           label: '{{ value }}',
        //           value: '{{ id }}',
        //         },
        //     {% endfor %}
        //   ]

        // $('#demo2').tagit(
        //     {
        //         tagSource: availableTags, 
        //         caseSensitive: true,
        //         select: true, 
        //         sortable: true,
        //     });
        

        updated_attributes = {}

        $('.js_attribute_value').change(function(){
            var attr_pk = $(this).prop('name')
            var attr_value = $(this).val()
            updated_attributes[attr_pk] = attr_value
        })

        $("#start_fileupload").click(function(){
            file_data = $('#object_file')[0].files[0],
            fileName = file_data.name,
            // fileSize = file_data.size;
            // alert("Uploading: "+fileName+" @ "+fileSize+"bytes");
            Dajaxice.apps.bioface.upload_file(Dajax.process, { 'filename': fileName, 'file_data': file_data });
           // CustomFileHandlingFunction(file);
        });

        $('.js-file-delete').click(function(){
            if (confirm('You realy want delete this file?')){
                Dajaxice.apps.bioface.delete_file(Dajax.process, 
                    { 'fileid': $(this).data('fileId')}
                );
            }
        })

        function delete_file_from_list(fileid){
            delete files_dict[fileid]
            $('.fileid_' + fileid).remove()
        }

        function upload_2_server(upload_data){
            upload_url = upload_data.upload_url
            upload_id = upload_data.upload_id
            // alert(upload_url);
            form_data = new FormData(file_data);
            form_data.append("files", file_data)

            $.ajax({
                type: 'post',
                url: upload_url,
                cache: false,
                contentType: false,
                processData: false,
                // crossDomain: true,
                data: form_data,
                // beforeSend: function (request)
                // {
                //     request.setRequestHeader('Access-Control-Allow-Origin', "*");
                // },
                beforeSend: function (xhr) {
                    start_show_loading();
                },
                success: function (data){
                    stop_show_loading(); 
                    $('#upload-files').prepend(
                        '<tr class="fileid_' + upload_id + '"> \
                            <td><a class="js_download_file" data-file-id="' + upload_id + '">' + file_data.name + '</a></td> \
                            <td><a class="js-file-delete btn btn-mini btn-danger" data-file-id="' + upload_id + '">x</a></td> \
                        </tr>'
                        )
                    // $('#files_id').val($('#files_id').val() + ',' + upload_id)
                    $("#start_fileupload").hide()
                    not_all_file_upload = false
                    files_dict[upload_id] = fileName

                    if (form_submit_required) {
                        $('#update-form').submit()
                    }
                 // alert ( " Done ! " + data );
                },
                error: function(xhr,err){
                    stop_show_loading();
                    alert("status: "+xhr.status);
                    // alert("responseText: "+xhr.responseText);
                },
              // dataType: dataType
            });
        };

            // $.ajax({
            // // Uncomment the following to send cross-domain cookies:
            // //xhrFields: {withCredentials: true},
            //     url: upload_url,
            //     type: 'POST',
            //     // dataType: 'json',
            //     context: file_data
            // }).done(function (result) {
            //     $(this).fileupload('option', 'done')
            //         .call(this, null, {result: result});
            // });

            // var form_data = new FormData(file_data);                  // Creating object of FormData class
            // // form_data.append("file", file_data) 
            // var response = $.ajax({
            //     url: upload_url,
            //     // dataType: 'text',
            //     cache: false,
            //     contentType: false,
            //     processData: false,
            //     crossDomain: true,
            //     async: false,
            //     // dataType: 'text',
            //     data: form_data,                         // Setting the data attribute of ajax with file_data
            //     type: 'POST',
            //     error: function(xhr,err,errorMessage){
            //         alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
            //         alert("responseText: "+xhr.responseText+errorMessage);
            //     },
            //     success: function (data)
            //     {
            //      alert ( " Done ! " + data );
            //     }
            //    });
            // post_response = $.get(upload_url);
        // }

        // function createUploader(){            
        //     var uploader = new qq.FileUploader({
        //         element: document.getElementById('file_contener'),
        //         onSubmit: function(id, fileName){
        //             alert(fileName);

        //             // Dajaxice.apps.bioface.upload_file(Dajax.process, { 'filename': fileName });
        //             // return false
        //         },
        //         onProgress: function(id, fileName, loaded, total){alert(loaded);},
        //         action: '/'
        //     });           
        // }
        
        not_all_file_upload = true
        form_submit_required = false
        $('#update-form').submit(function(){
            upload_file = $('#object_file')[0].files
            if (upload_file.length > 0 && not_all_file_upload) {
                file_data = upload_file[0],
                fileName = file_data.name,
                // fileSize = file_data.size;
                // alert("Uploading: "+fileName+" @ "+fileSize+"bytes");
                form_submit_required = true
                Dajaxice.apps.bioface.upload_file(Dajax.process, { 'filename': fileName, 'file_data': file_data });
                
                return false
            }

            $('#files_dict').val(JSON.stringify(files_dict));
            if (updated_attributes) {
                $('#updated_attributes').val(JSON.stringify(updated_attributes));
            }
            
            
        })

        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        // window.onload = createUploader;     
    

        $(".show-hide").hide();
        function toggle_filter() {
            $(".show-hide").toggle("hide");
        };

    </script>
{% endblock %}