{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Edit My profile{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
{% endblock %}

{% block forejs %} 


    
 {% endblock %}

{% block main %}

<form method="post" action="./" class="form-horizontal js-active-form span8 pull-left">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <a data-dismiss="alert" class="close">×</a>
            <p>{{ error }}</p>
        </div>
    {% endfor %}
    
    {{ form|bootstrap }}
    


    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Attributes</a></li>
            <li><a href="#tab2" data-toggle="tab">Sequences</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                {% for attr_name, value in attr_dict.items %}
                    {% if forloop.counter = 6 %}
                    <a onclick="toggle_filter()" id="hideBut" class="btn">></a>
                    <div class="show-hide">
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label" for="attr_{{ attr_name }}"><a href="#">{{ attr_name }}</a></label>
                        <div class="controls">
                            <input type="text" id="attr_{{ attr_name }}" name="attr_{{ attr_name }}" value="{{ value }}">
                        </div>
                    </div>
                    {% if forloop.counter >= 6 and forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- <a class="btn btn-primary pull-right">Add</a>&nbsp; -->
                
            </div>
            <div class="tab-pane" id="tab2">
                <p>List of sequences.</p>
            </div>
        </div>
    </div>

    <!-- <span>Attributes</span>
    <hr/> -->
    
    <div class="form-actions">
        
        <button type="submit" class="btn btn-primary">Save</button>&nbsp;
    </div>
</form>

{% endblock %}

{% block endjs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    
    <script type="text/javascript">
        $(".show-hide").hide();
        function toggle_filter() {
            $(".show-hide").toggle("hide");
        };

        $('#id_tags').select2({tags:[{% for id, value in form.fields.tags.choices %}"{{value}}", {% endfor %}]})

    </script>
{% endblock %}