<table class="table table-bordered">
    <!-- <caption>Result Table</caption> -->
    <thead>
        <tr>
            <th>Object Name</th>
            {% for field in display_fields %}
                {% if field != 'name' %}
                    <th>{{ field }}</th>
                {% endif %}
            {% endfor %}
            {% for attribute_name in attributes %}
                <th>{{ attribute_name }}</th>
            {% endfor %}
        </tr>
    </thead>    
    <tbody>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.url }}">{{ obj.object_name }}</a></td>
                {% for field_name, field in obj.fields %}
                    {% if field_name != 'name' %}
                        <td>{{ field }}</td>
                    {% endif %}
                {% endfor %}
                {% for attr in obj.attrs %}
                    <td>
                        {% if attr.value == 'n/a' %}
                            <span class="red">n/a</span>
                        {% else %}
                            {{ attr.value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "object_pagination_controls.html" %}