
<div  class="filters_block offset1 span8">
    <div class="operand-block-wraper">
        <!-- <div class="btn-group operand-block" data-toggle="buttons-radio">
            <label class='btn btn-info  {% if logic_operation == "ALL" or not logic_operation %}active{% endif %}'>
                <input type="radio" name="select_operand" class="js_select_operand hidden" value="ALL" checked>
                ALL
            </label>
            <label class='btn btn-info  {% if logic_operation == "ANY" %}active{% endif %}'>
                <input type="radio" name="select_operand" class="js_select_operand hidden" value="ANY">
                ANY
            </label>
            <label class='btn btn-info {% if logic_operation == "NONE" %}active{% endif %}'>
                <input type="radio" name="select_operand" class="js_select_operand hidden" value="NONE">
                NO ONE
            </label>  
        </div> -->
        <div class="btn-group operand-block js_operand_block">
            <input type="radio" name="select_operand_in" id="operand_ALL_in" class="js_select_operand" value="ALL" checked="checked">
            <label class='btn btn-info' for="operand_ALL_in">ALL</label>
            <input type="radio" name="select_operand_in" id="operand_ANY_in" class="js_select_operand" value="ANY">
            <label class='btn btn-info' for="operand_ANY_in">ANY</label>
            <input type="radio" name="select_operand_in" id="operand_NONE_in" class="js_select_operand" value="NONE">
            <label class='btn btn-info' for="operand_NONE_in">NO ONE</label>  
        </div>
    </div>
    

    <div class="row">
        <div class="span8">
            <table class="table js_query_table">
              <tbody>
                
                <tr class="js_query_tr" data-pk="0">
                    <td>
                        <select style="width:300px" class="js_query_field js_query">
                            <optgroup label="Fields">
                                <!-- <option value="name" data-atype="string">name</option> -->
                                {% for field, atype in fields_with_type %}
                                    <option value="{{ field }}" data-atype="{{ atype }}">{{ field }}</option>
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Attributes" class="js_query_attr_list">
                                {% for id, attr, atype in attributes_from_organism %}
                                    <option value="attr.{{ id }}" data-atype="{{ atype }}">{{ attr }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <select name="query_field" style="width: 80px;" class="js_query_operation js_query">
                            <option value="=">=</option>
                            <option value="!=">&ne;</option>
                            <!-- <option value="in">IN</option> -->
                        </select>

                        <input class="span2 js_query_value js_query" type="text">
                    </td>
                    <td>
                        <a class="btn btn-danger js_del_query_item">x</a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <a class="btn btn-success js_add_query_item">+</a>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
