{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Edit My profile{% endblock %}


{% block forejs %} {% dajaxice_js_import %}

<script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function my_js_callback(data){
            alert(data.message);
        };
        function calculate(){
            Dajaxice.apps.bioface.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
        };

        function send_form(){
            Dajaxice.apps.bioface.send_form(Dajax.process,{'form':$('#my_form').serialize(true)});
        }

    </script>
 {% endblock %}

{% block main %}
<div>

	<div class="row">
        <form method="post" action="./" class="form-horizontal js-active-form span12 pull-left">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a data-dismiss="alert" class="close">×</a>
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
            
            {{ form|bootstrap }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Run</button>&nbsp;
            </div>
        </form>
	</div>

    
    {% block result_table %}
        {% if objects %}
        <div class="row">
            <div class="span8">
                <table class="table table-bordered">
                    <caption>Result Table</caption>
                    <thead>
                        <tr>
                            <th>Object Name</th>
                            {% for attribute in attributes %}
                                <th>{{ attribute.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>    
                    <tbody>
                        {% for object in objects %}
                            <tr>
                                <td>{{ object.name }}</td>
                                {% for attribute in attributes %}
                                    <th>{{ object.attributes|get:attribute.name }}</th>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" %}
                <p>{{ response }}</p>
            </div>
        </div>
        {% endif %}
    {% endblock %}
    

    
    

    {% comment %}
    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <button onclick="Dajaxice.apps.bioface.pagination(Dajax.process,{'p':{{ items.previous_page_number }}})">previous</button>
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <button onclick="Dajaxice.apps.bioface.pagination(Dajax.process,{'p':{{ items.next_page_number }}})">next</button>
            {% endif %}
        </span>
    </div>
    {% endcomment %}
</div>
{% endblock %}


{% block endjs %}

{% endblock %}