{% extends 'base.html' %}
{% load bootstrap widget_tweaks main_filters dajaxice_templatetags staticfiles jsonify %}

{% block subtitle %}Select Objects{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.min.css" /> -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.theme.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}fuelux/css/fuelux.min.css" />
{% endblock %}

{% block forejs %} 
<!-- <script src="{{ STATIC_URL }}js/require.js"></script> -->
 {% endblock %}

{% block content_title %}
    <h1>Select Objects</h1>
{% endblock %}

{% block main %}
<div class="relative">
    <div class="row saved-query-block">
        <div class="span4 js_saved_query_block" {% if not saved_query_list %}style="display: none;"{% endif %}>
            <a class="btn dropdown-toggle" id="js_queries_list_btn">Saved query<span class="caret"></span></a>
            <table class="table table-bordered js_queries_list saved-query-list" style="display: none">
                <tbody class="js_query_list">
                    {% for query in saved_query_list %}
                        {% include "saved_query_components.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <form method="post" action="./" id="js_id_form" class="form-horizontal js-active-form span12 pull-left">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a data-dismiss="alert" class="close">×</a>
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
            
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a data-dismiss="alert" class="close">×</a>
                    <p>{{ error }}</p>
                </div>
            {% endfor %}

            {# <!-- Organism --> #}
            <div class="control-group {% if form.organism.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.organism.id_for_label }}">{{ form.organism.label }} <i class="red">*</i></label>
                <div class="controls" id="js_organism_container">
                    {{ form.organism }}
                    {% for error in form.organism.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- display_fields --> #}
            <div class="control-group {% if form.display_fields.errors %}error{% endif %}">
                <label class="control-label">{{ form.display_fields.label }}</label>
                <div class="controls list-inline">
                    {{ form.display_fields }}
                    {% for error in form.display_fields.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- attributes_list --> #}
            <div class="control-group {% if form.attributes_list.errors %}error{% endif %}" id="js_attribute_container">
                <label class="control-label" for="{{ form.attributes_list.id_for_label }}">{{ form.attributes_list.label }}</label>
                <div class="controls">
                    {{ form.attributes_list }}

                    {{ form.tags }}
                    <!-- <select id="js_attr_tags">
                        <option></option>
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select> -->
                    {% for error in form.attributes_list.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- paginate_by --> #}
            <div class="control-group {% if form.paginate_by.errors %}error{% endif %}">
                <label class="control-label" for="{{ form.paginate_by.id_for_label }}">{{ form.paginate_by.label }}</label>
                <div class="controls">
                    {{ form.paginate_by }}
                    {% for error in form.paginate_by.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>  

            {# <!-- sort_by --> #}
            <div class="control-group {% if form.sort_by.errors %}error{% endif %}" id="js_sort_by_container">
                <label class="control-label" for="{{ form.sort_by.id_for_label }}">{{ form.sort_by.label }}</label>
                <div class="controls">
                    {{ form.sort_by }}
                    {% for error in form.sort_by.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

        {# <!-- Filters --> #}
            <fieldset id="js_filters_block">
                <legend>Filters</legend>
                {% comment %}
                {% if query_history %}
                    <ul class="breadcrumb">
                        {% for step in query_history %}
                            {% if not forloop.last %}
                                <li>
                                    <a class="js_query_history_step" data-placement="bottom" title="{{ step.query }}" data-original-title="{{ step.query }}">
                                        Query {{ forloop.counter }} {% if step.count %}<span class="badge badge-info">{{ step.count }}</span>{% endif %}
                                    </a> <span class="divider">></span>
                                </li>
                            {% else %}
                                <li class="active">
                                    <span class="js_query_history_step_last" data-placement="bottom" title="{{ step.query }}" data-original-title="{{ step.query }}">
                                        This query 
                                    </span>
                                    {% if step.count %}<span class="badge badge-info">{{ step.count }}</span>{% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                {% endif %}
                {% endcomment %}


                <!-- WIZARD -->
                {% if query_history %}
                <div class="fuelux">
                    <div id="MyWizard" class="wizard">
                        <ul class="steps">
                            {% for step in query_history %}
                                {% if not forloop.last %}
                                    <li data-target="#step{{ forloop.counter }}" class="complete js_query_history_step"
                                        data-placement="bottom" 
                                        title="{{ step.query }}" 
                                        data-original-title="{{ step.query }}">
                                        <span class="badge badge-success">{{ step.count }}</span>Query {{ forloop.counter }}
                                        <span class="chevron"></span>
                                    </li>
                                {% else %}
                                    <li data-target="#step{{ forloop.counter }}" class="active js_query_history_step_last"
                                        data-placement="bottom" 
                                        title="{{ step.query }}" 
                                        data-original-title="{{ step.query }}">
                                        <span class="badge badge-info">{{ step.count }}</span>Query {{ forloop.counter }}
                                        <span class="chevron"></span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <!-- <div class="actions">
                            <button type="button" class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
                            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
                        </div> -->
                    </div>
                </div>
                {% endif %}


                <!-- <div class="control-group">
                    <div class="controls"> -->
                {% if raw_query_str %}
                    <div class="where-search">
                        <!-- <label for="id_new_query" class="checkbox inline">
                            <input id="id_new_query" class="js_where_search" name="search_in_results" type="radio" value="new_query" checked="checked"> New query
                        </label> -->
                        <label for="id_change_current_query" class="checkbox inline">
                            <input id="id_change_current_query" class="js_where_search" name="where_search" 
                                type="radio" value="change_current_query" checked="checked"> Change current query
                        </label>
                        <label for="id_search_in_results" class="checkbox inline">
                            <input id="id_search_in_results" class="js_where_search" name="where_search" type="radio" value="search_in_results"> Search in results
                        </label>
                    </div>
                {% endif %}
                   <!--  </div>
                </div> -->
                
                <div class="row js_new_query actual_filters">
                    <div  class="filters_block offset1 span8">
                        <!-- <div class="row control-group">
                            <div class="offset2 span4"> -->
                        <div class="operand-block-wraper">
                            <div class="btn-group operand-block js_operand_block">
                                <input type="radio" name="select_operand" id="operand_ALL" class="js_select_operand" value="ALL" {% if logic_operation == "ALL" or not logic_operation %}checked="checked"{% endif %}>
                                <label class='btn' for="operand_ALL">ALL</label>
                                <input type="radio" name="select_operand" id="operand_ANY" class="js_select_operand" value="ANY" {% if logic_operation == "ANY" %}checked="checked"{% endif %}>
                                <label class='btn' for="operand_ANY">ANY</label>
                                <input type="radio" name="select_operand" id="operand_NONE" class="js_select_operand" value="NONE" {% if logic_operation == "NONE" %}checked{% endif %}>
                                <label class='btn' for="operand_NONE">NONE</label>  
                            </div>
                        </div>
                            <!-- </div>
                        </div> -->

                        <div class="row">
                            <div class="span8">
                                <table class="table js_query_table">
                                  <tbody>
                                    {% for pk, filter in field_filters_dict.items %}
                                        <tr class="js_query_tr" data-pk="{% firstof pk '0' %}">
                                            <td>
                                                <select style="width:300px" class="js_query_field js_query">
                                                    <optgroup label="Fields">
                                                        <!-- <option value="name" data-atype="string">name</option> -->
                                                        {% for field, atype in fields_with_type %}
                                                            <option value="{{ field }}" data-atype="{{ atype }}" {% if filter.0 == field %}selected{% endif %}>{{ field }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    <optgroup label="Attributes" class="js_query_attr_list">
                                                        {% for id, attr, atype in attributes_from_organism %}
                                                            <option value="attr.{{ id }}" data-atype="{{ atype }}" {% if filter.0 == "attr."|add:attr %}selected{% endif %}>{{ attr }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                </select>
                                                <!-- <div class="btn-group"> -->
                                                <select name="query_field" style="width: 80px;" class="js_query_operation js_query">
                                                    {% if filter.3 == 'string' or filter.3 == 'nominal' or not filter %}
                                                        <option value="=" {% if filter.1 == '=' %}selected{% endif %}>=</option>
                                                        <option value="!=" {% if filter.1 == '!=' %}selected{% endif %}>&ne;</option>
                                                    {% else %}
                                                        <option value="=" {% if filter.1 == '=' %}selected{% endif %}>=</option>
                                                        <option value="!=" {% if filter.1 == '!=' %}selected{% endif %}>&ne;</option>
                                                        <option value=">=" {% if filter.1 == '>=' %}selected{% endif %}>&ge;</option>
                                                        <option value=">" {% if filter.1 == '>' %}selected{% endif %}>&gt;</option>
                                                        <option value="<=" {% if filter.1 == '<=' %}selected{% endif %}>&le;</option>
                                                        <option value="<" {% if filter.1 == '<' %}selected{% endif %}>&lt;</option>
                                                        <!-- <option value="in">IN</option> -->
                                                    {% endif %}
                                                    
                                                </select>

                                                <!-- </div> -->
                                                <input class="span2 js_query_value js_query" type="text" value="{% firstof filter.2 %}">
                                            </td>
                                            <td>
                                                <a class="btn btn-danger js_del_query_item">x</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-success js_add_query_item">+</a>
                                        </td>
                                        
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row js_search_in_results" style="display: none">
                    {% include "object_filter_component.html" %}
                </div>

            </fieldset>
        {# <!-- End Filters --> #}
            <div class="control-group {% if form.attributes_list.errors %}error{% endif %} hidden">
                <label class="control-label" for="js_raw_query">Raw Query</label>
                <div class="controls">
                    <input class="input-xxlarge" name="raw_query_str" id="js_raw_query" type="text" value="{{ raw_query_str }}">
                    <input class="hidden" name="field_filters_dict" id="js_field_filters_dict" type="text">
                    <input class="hidden" name="query_history" id="js_query_history" type="text">
                    <input class="hidden" name="query_history_step" id="js_query_history_step_result" type="text">
                </div>
            </div>

            <div class="form-actions form-inline">
                <input type="text" id="save_query_name" class="hidden" placeholder="Type query name">
                <button type="button" class="btn btn-success" onclick="save_query();">Save query</button>&nbsp;
                <button type="submit" class="btn btn-primary">Run</button>&nbsp;
            </div>

        </form>
    </div>

    {% if object_list %}
    <div class="object_result_table" id="result">
        <div class="row">
            <div class="span12">

                <p>
                    <span>Find {{ items_count }} objects</span>
                    <a class="btn pull-right" data-toggle="modal" data-target="#DownloadObjectSelection">Export</a>
                </p>
                <div id="js_object_result_table">

                    {% include "object_list.html" %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <!-- <div class="preloader-block" style="display: none"> -->
        <div class="preloader-img" style="display: none"></div>
    <!-- </div> -->

</div>

{# <!-- Hidden Components --> #}
    {#<!-- Reference query item. Hidden. -->#}
    <table style="display: none">
        <tbody>
            <tr id="js_reference_query_item">
                <td>
                    <select style="width:300px" class="js_query_field js_query">
                        <optgroup label="Fields">
                            <!-- <option value="name" data-atype="string">name</option> -->
                            {% for field, atype in fields_with_type %}
                                <option value="{{ field }}" data-atype="{{ atype }}">{{ field }}</option>
                            {% endfor %}
                        </optgroup>
                            <optgroup label="Attributes" class="js_query_attr_list">
                            {% for id, attr, atype in attributes_from_organism %}
                                <option value="attr.{{ id }}" data-atype="{{ atype }}">{{ attr }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <select name="query_field" style="width: 80px;" class="js_query_operation js_query">
                        <option value="=">=</option>
                        <option value="!=">&ne;</option>
                        <!-- <option value="in">IN</option> -->
                    </select>

                    <input class="span2 js_query_value js_query" type="text">
                </td>
                <td>
                    <a class="btn btn-danger js_del_query_item">x</a>
                </td>
            </tr>
        </tbody>
    </table>
    {# <!-- --> #}
        
    
    <select name="query_field" style="display: none" class="js_option_for_type_string">
        <option value="=">=</option>
        <option value="!=">&ne;</option>
        <!-- <option value="in">IN</option> -->
    </select>
    <select name="query_field" style="display: none" class="js_option_for_type_integer">
        <option value="=">=</option>
        <option value="!=">&ne;</option>
        <option value="&gt;=">&ge;</option>
        <option value="&gt;">&gt;</option>
        <option value="&lt;=">&le;</option>
        <option value="&lt;">&lt;</option>
        <!-- <option value="in">IN</option> -->
    </select>
{# <!-- End Hidden Components --> #}

{% if object_download_form %}
    {# <!-- Modal Window --> #}
        <div id="create_modal_form">
            <div class="modal" id="DownloadObjectSelection" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabel" aria-hidden="true" style="display: none">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="ModalLabel">Download object selection</h3>
                </div>
                <div class="modal-body">
                    <form method="POST" id="download_object_selection" action="" class="span5">
                        {% csrf_token %}
                        {% for error in object_download_form.non_field_errors %}
                            <div class="alert alert-error">
                                <a data-dismiss="alert" class="close">×</a>
                                <p>{{ error }}</p>
                            </div>
                        {% endfor %}
                        
                        {% for field in object_download_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}

                        {# <!-- Description --> #}
                        <div class="control-group {% if object_download_form.description.errors %}error{% endif %}">
                            <label class="control-label" for="{{ object_download_form.description.id_for_label }}">{{ object_download_form.description.label }} <i class="red">*</i></label>
                            <div class="controls">
                                {{ object_download_form.description }}
                                {% for error in object_download_form.description.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        {# <!-- Encoding --> #}
                        <div class="control-group {% if object_download_form.encoding.errors %}error{% endif %}">
                            <label class="control-label">{{ object_download_form.encoding.label }}</label>
                            <div class="controls">
                                {{ object_download_form.encoding }}
                                {% for error in object_download_form.encoding.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>

                        {# <!-- Options --> #}
                        <div class="control-group {% if object_download_form.options.errors %}error{% endif %}">
                            <label class="control-label" for="{{ object_download_form.options.id_for_label }}">{{ object_download_form.options.label }}</label>
                            <div class="controls list-inline">
                                {{ object_download_form.options }}
                                {% for error in object_download_form.options.errors %}
                                    <span class="help-inline">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="btn btn-primary pull-right" onclick="download_objects();">Export</a>
                    </form>
                </div>
            </div>
        </div>
    {# <!-- --> #}
{% endif %}

{% endblock %}


{% block endjs %}

{% dajaxice_js_import %}
<script type="text/javascript" src='{% static "/static/dajax/jquery.dajax.core.js" %}'></script>

<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>
<!-- <script src="{{ STATIC_URL }}fuelux/wizard.js"></script> -->
<!-- <script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script> -->

<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> -->
<script src="{{ STATIC_URL }}js/select2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

<script type="text/javascript">
    $('#id_tags').select2({
        placeholder: 'Add from tag'
    });
    $('.js_query_tr .js_query_field').select2({});

    attribute_container = $('#js_attribute_container')
    filters_block = $('#js_filters_block')
    // preloader = $('.preloader-block')
    // preloader_img = $('.preloader-img')
    prepand_query = ''
    old_query = '{{ old_raw_query_str|safe }}'
    query_history_step_result = $('#js_query_history_step_result')
    js_queries_list_btn = $("#js_queries_list_btn")
    // $('.preloader').hide();


    $('#id_tags').change(function(){
        Dajaxice.apps.objects.update_attr_from_tag(Dajax.process, { 
            'organism': $('#id_organism').val(),
            'tag': $(this).val(), 'attrs': $('#id_attributes_list').select2('val')
        });
        
    })

    function update_attr_from_tag(attr_list){
        alert(attr_list)
        attr_list = attr_list
        $('#id_attributes_list').select2('val', attr_list)
    }

    function download_objects(){
        Dajaxice.apps.bioface.download_objects(Dajax.process, { 
            'query_dict': JSON.stringify({{ query_dict_str }}),
            'form': $('#download_object_selection').serialize(true),
        });
    }

    function success_adding_download(){
        $('#DownloadObjectSelection').modal('hide');
    }

    query_name = $('#save_query_name')
    function save_query() {
        if (query_name.hasClass('hidden')) {
            query_name.removeClass('hidden')
            query_name.focus();
        } else {
            if (query_name.val()) {
                start_show_loading();
                Dajaxice.apps.objects.save_query(Dajax.process, {
                    // 'data':JSON.stringify(data),
                    'name': query_name.val(),
                    'form': $('#js_id_form').serialize(true),
                    'field_filters_dict': field_filters_dict,
                    'query_str': $('#js_raw_query').val(),
                });
                $('.js_saved_query_block').show();
                // query_name.addClass('hidden');
            } else {
                query_name.addClass('hidden')
                // TODO. create alert
            }
        }
        
      return false;
    };

    function save_query_success(){
        js_queries_list_btn.addClass('btn-success');
        query_name.addClass('hidden');
        $(document).scrollTop( js_queries_list_btn.offset().top ); 
    }

    function save_query_error(){
        query_name.focus();
    }

    // function start_show_loading() {
    //     // preloader.show(); 
    //     preloader_img.show()
    // }

    // function stop_show_loading() {
    //     // preloader.hide(); 
    //     preloader_img.hide()
    // }

    $('#js_attribute_container #id_attributes_list').select2({
            maximumSelectionSize: 5,
            minimumInputLength: 0,
        });
    $('#js_sort_by_container select').select2({
            // maximumSelectionSize: 1,
            // minimumInputLength: 0,
        });
    function create_attribute_select(){
        $('#js_attribute_container select').select2({
            maximumSelectionSize: 10,
            minimumInputLength: 0,
        });
        stop_show_loading();
        attribute_container.show();
        filters_block.show();
    };

    filter_item_html = $('#js_reference_query_item').html()

    function update_query_items(){
        filter_item_html = $('#js_reference_query_item').html()
        attr_options = $('#js_reference_query_item .js_query_attr_list').html()
        $('.actual_filters .js_query_attr_list').html(attr_options)
        $('.actual_filters .js_query_tr .js_query_field:last').select2({
                placeholder: "Select a Field or Attribute",
            });
    };

    function generate_raw_query() {
        var query_list = [];
        for (var key in field_filters_dict) {
            var value_type = field_filters_dict[key][3]
            var prep_list = field_filters_dict[key].slice(0,3)
            if (value_type == 'integer' | value_type == 'float' | value_type == 'range') {
                // ToDo Validate
            } else {
                prep_list[2] = '"' + prep_list[2] + '"'
                // prep_list[2] = "'" + prep_list[2] + "'"
            };
            query_list = query_list.concat(prep_list.join(' '));
        }
        if (logic_operation == 'ANY') {
            var raw_query = query_list.join(' OR ')
        } else {
            // ALL and NONE
            var raw_query = query_list.join(' AND ')
        }
        if (logic_operation == 'NONE' && raw_query) {
            raw_query = '!(' + raw_query + ')'
        }
        if (prepand_query) {
            if (raw_query) {
                $('#js_raw_query').val('('+prepand_query+') AND ' + raw_query)
            } else {
                $('#js_raw_query').val(prepand_query)
            }
        } else if (old_query) {
            $('#js_raw_query').val(old_query + ' AND ' + raw_query)
        } else {
            $('#js_raw_query').val(raw_query)
        }
        
    };

    function show_messages(){
        $('.extra-message-block').fadeIn().delay(4000).fadeOut();
    }

    // if ($('#id_organism option:selected').val()) {
    //     start_show_loading();
    //     create_attribute_select();
    // }
    // else {
    //     $('#js_attribute_container').hide();
    //     filters_block.hide();
    // };

    $(function() {

        item_pk = 0
        field_filters_dict_old = {}
        field_filters_dict_new = {}
        {% for pk, filter in field_filters_dict.items %}
            {% if pk != '' %}
                field_filters_dict_old['{{ pk }}'] = ['{{filter.0}}', '{{ filter.1|safe }}', '{{filter.2}}', '{{filter.3}}']
                {% if forloop.last %} 
                    item_pk = {{ pk }} +1
                {% endif %}
            {% endif %}
        {% endfor %}
        field_filters_dict = field_filters_dict_old

        query_history_json = {{ query_history|jsonify }}


        $('.js_query_history_step').tooltip({
            show: {
                effect: "slideDown",
                delay: 30
            } 
        });
        $('.js_query_history_step_last').tooltip({
            show: {
                effect: "slideDown",
                delay: 30
            } 
        });

        $(".js_operand_block").buttonset();  

        // Saved queries list popup 
        $('#js_queries_list_btn').click(function(){
            $(this).next('.js_queries_list').slideToggle()
        })

        // Save query
        $('#save_query_name').keypress(function (e) {
            // if pressed Enter
            if (e.which == 13) {
                save_query();
                return false;
            }
        });

        // Delete saved query
        $('.js_query_list').delegate('.delete_query_item', 'click', function(){
            if (confirm("You agree to lose this query?")) {
                var query_name = $(this).data('name')
                // alert();
                // if (query_name) {

                // start_show_loading();
                Dajaxice.apps.objects.delete_saved_query(Dajax.process, {'name': query_name });
                // alert($(this).parents('.js_saved_queries_item').html());
                if ($(this).parents('.js_query_list').find('.js_saved_queries_item').length < 2) {
                    $('.js_saved_query_block').hide();
                }
                    
                $(this).parents('.js_saved_queries_item').remove()

                // } else {

                // }
            }
        });

        // Organism trigger
        $('#id_organism').change(function(){
            if ($('#id_organism option:selected').val()) {
                start_show_loading();
                Dajaxice.apps.objects.update_attributes_from_organism(Dajax.process,{'organism_id': $(this).val()});
            } else {
                filters_block.hide();
                attribute_container.hide();
            }
        });


        logic_operation = '{% firstof logic_operation "ALL" %}'
        new_query_logic_operation = '{% firstof logic_operation "ALL" %}'
        $('.js_new_query .js_select_operand').click(function(){
            new_query_logic_operation = $(this).val()
            logic_operation = new_query_logic_operation
            // $(this).next('#id_select_operand').val(logic_operation)
            generate_raw_query();
        })

        search_in_result_logic_operation = "ALL"
        $('.js_search_in_results .js_select_operand').click(function(){
            search_in_result_logic_operation = $(this).val()
            logic_operation = search_in_result_logic_operation
            // $(this).next('#id_select_operand').val(logic_operation)
            generate_raw_query();
        })

        // Change available operation for select field
        $('.js_query_table').delegate('.js_query_field', 'change', function(){
            field_type = $(this).find('option:selected').data('atype')
            operation_select = $(this).next('.js_query_operation')
            if (field_type == 'string' | field_type == 'nominal') {
                operation_select.html($('.js_option_for_type_string').html())
            } else {
                operation_select.html($('.js_option_for_type_integer').html())
            }
        });

        // item_pk = 0
        // Add query item
        $('.js_query_table').delegate('.js_add_query_item', 'click', function(){
            item_pk++;
            $(this).parent().parent().before('<tr class="js_query_tr" data-pk="'+item_pk+'">'+filter_item_html+'</tr>')
            $('.actual_filters .js_query_tr .js_query_field:last').select2({
                placeholder: "Select a Field or Attribute",
            });
        });

        // Update query fields
        $('.js_query_table').delegate('.js_query', 'change', function(){
            var filter = $(this).parent().parent()
            var js_query_value = filter.find('.js_query_value')
            var filter_value = js_query_value.val()
            
            if (filter_value) {
                filtered_field = filter.find('select.js_query_field')
                var filtered_field_val = filtered_field.val()
                var filtered_field_type = filtered_field.find('option:selected').data('atype')
                var filtered_operation = filter.find('.js_query_operation').val()
                var item_pk = filter.data('pk')
                if ((filtered_field_type == 'float' | filtered_field_type == 'range') & filter_value.indexOf('.') == -1){
                    if (filter_value.indexOf(',') != -1){
                        filter_value = filter_value.replace(',', '.')
                    } else {
                        filter_value = filter_value + '.0'
                        js_query_value.val(filter_value + '.0')
                    }
                    
                }

                field_filters_dict[item_pk] = [filtered_field_val, filtered_operation, filter_value, filtered_field_type]

                generate_raw_query();
                // filter.find('.js_del_query_item').show()
            } else {
                // filter.find('.js_del_query_item').hide()
            }
        });

        // Remove query item
        $('.js_query_table').delegate('.js_del_query_item', 'click', function(){
            filter = $(this).parent().parent()
            if (filter.parent().find('.js_query_tr').length < 2) {
                filter.before('<tr class="js_query_tr" data-pk="'+item_pk+'">'+filter_item_html+'</tr>')
                $('.actual_filters .js_query_tr .js_query_field:first').select2();
            }
            delete field_filters_dict[filter.data('pk')]
            generate_raw_query();

            filter.remove()
        });

        // Query trigger
        where_search = $('.js_where_search')
        search_in_results = $('.js_search_in_results')
        new_query = $('.js_new_query')

        function switch_where_search(){
            // switch ($('.js_where_search:checked').val())
            // {
            // case 'change_current_query':
            //   search_in_results.fadeOut(function(){
            //         search_in_results.removeClass('actual_filters');
            //         new_query.fadeIn().addClass('actual_filters');
            //         prepand_query = ''
            //         old_query = '{{ old_raw_query_str|safe }}'
            //         field_filters_dict = field_filters_dict_old
            //         generate_raw_query()
            //     });
            //   break;
            // case 'search_in_results':
            //     new_query.fadeOut(function(){
            //         new_query.removeClass('actual_filters');
            //         search_in_results.fadeIn().addClass('actual_filters');
            //         prepand_query = '{{ raw_query_str|safe }}'
            //         old_query = '{{ old_raw_query_str|safe }}'
            //         field_filters_dict = field_filters_dict_new
            //         generate_raw_query()
            //     });
            //   break;
            // case 'new_query':
            //     search_in_results.fadeOut(function(){
            //         search_in_results.removeClass('actual_filters');
            //         new_query.fadeIn().addClass('actual_filters');
            //         prepand_query = ''
            //         old_query = ''
            //         field_filters_dict = field_filters_dict_old
            //         generate_raw_query()
            //     });
            //   break;
            // }

            if ($('.js_where_search:checked').val() == 'change_current_query') {
                search_in_results.fadeOut(function(){
                    search_in_results.removeClass('actual_filters');
                    new_query.fadeIn().addClass('actual_filters');
                    prepand_query = ''
                    old_query = '{{ old_raw_query_str|safe }}'
                    field_filters_dict = field_filters_dict_old
                    logic_operation = new_query_logic_operation
                    generate_raw_query()
                });
            } else {
                new_query.fadeOut(function(){
                    new_query.removeClass('actual_filters');
                    search_in_results.fadeIn().addClass('actual_filters');
                    prepand_query = '{{ raw_query_str|safe }}'
                    old_query = '{{ old_raw_query_str|safe }}'
                    field_filters_dict = field_filters_dict_new
                    logic_operation = search_in_result_logic_operation
                    generate_raw_query()
                });
            }
        }

        {% if query_history_step %} 
            where_search.attr('checked', false);
            $('.js_where_search:radio[value="search_in_results"]').attr('checked', true)
            switch_where_search(); 
        {% endif %}

        where_search.change(function(){
            switch_where_search()
        });
        
        // Load query from history
        $('.js_query_history_step').click(function(){
            query_history_step_result.val($(this).data("original-title"));
            $('#js_id_form').submit()
        })

        // Before form submit
        $('#js_id_form').submit(function(){
            start_show_loading();
            $('#js_field_filters_dict').val(JSON.stringify(field_filters_dict));
            $('#js_query_history').val(JSON.stringify(query_history_json));
        });
    });

</script>
{% endblock %}