{% extends 'base.html' %}
{% load bootstrap main_filters dajaxice_templatetags staticfiles %}

{% block subtitle %}Edit My profile{% endblock %}

{% block forestyle %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.min.css" />
{% endblock %}

{% block forejs %} 


    
 {% endblock %}

{% block main %}
<h2>Create Attribute</h2>
<hr>
<div class="row">
    <form method="post" action="./" class="form-horizontal js-active-form span12 pull-left" id="attribute-form-id">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}   

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        {# <!-- Primary --> #}
        <div class="control-group {% if form.primary.errors %}error{% endif %}">
            <!-- <label class="control-label" for="{{ form.primary.id_for_label }}">{{ form.primary.label }} <i class="red">*</i></label> -->
            <div class="controls">
                {% for radio in form.primary %}
                    <label class="radio inline">
                        {{ radio.tag }} {{ radio.choice_label }}
                    </label>
                {% endfor %}
            </div>
        </div>

        {# <!-- Name --> #}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Organism --> #}
        <div class="control-group {% if form.organism.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.organism.id_for_label }}">{{ form.organism.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.organism }}
                <!-- <a class="btn btn-success" data-toggle="modal" data-target="#myModal1">add</a> -->
                {% for error in form.organism.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Atype --> #}
        <div class="control-group {% if form.atype.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.atype.id_for_label }}">{{ form.atype.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.atype }}
                {% for error in form.atype.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <fieldset>
            <legend>Description</legend>

            {# <!-- Description: Integer --> #}
            <div class="js-description-form control-group {% if form.descr_integer_default.errors %}error{% endif %}" id="form-for-integer">
                <label class="control-label" for="descr_integer_default">Integer <i class="red">*</i></label>
                <div class="controls">
                    <input class="input-small" type="text" name="descr_integer_default" id="descr_integer_default" 
                        placeholder="default value" value="{% firstof form.descr_integer_default.value %}">
                    {% for error in form.descr_integer_default.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- Description: String --> #}
            <div class="js-description-form hide control-group {% if form.descr_string_default.errors %}error{% endif %}" id="form-for-string">
                <label class="control-label" for="descr_string_default">String <i class="red">*</i></label>
                <div class="controls">
                    <input class="input-large" type="text" name="descr_string_default" id="descr_string_default" placeholder="default value"
                        value="{% firstof form.descr_string_default.value %}">
                    {% for error in form.descr_string_default.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- Description: Float --> #}
            <div class="js-description-form hide control-group {% if form.descr_float_default.errors %}error{% endif %}" id="form-for-float">
                <label class="control-label" for="descr_float_default">Float <i class="red">*</i></label>
                <div class="controls">
                    <input class="input-small" type="text" name="descr_float_default" id="descr_float_default" 
                        placeholder="default value" value="{% firstof form.descr_float_default.value %}">
                    {% for error in form.descr_float_default.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- Description: Range --> #}
            <div class="js-description-form hide control-group {% if form.descr_range_default.errors or form.descr_range_from.errors or form.descr_range_to.errors %}error{% endif %}" 
                id="form-for-range">
                <label class="control-label" for="descr_range_default">Range <i class="red">*</i></label>
                <div class="controls">
                    <input class="input-small" type="text" name="descr_range_default" id="descr_range_default" 
                        value="{% firstof form.descr_range_default.value %}" placeholder="default value">
                    {% for error in form.descr_range_default.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                    <div class="input-prepend range-from">
                        <span class="add-on">From</span>
                        <input class="span1" name="descr_range_from" id="descr_range_from" value="{% firstof form.descr_range_from.value %}" type="text">
                    </div>
                    {% for error in form.descr_range_from.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                    <div class="input-append">
                        <span class="add-on">To</span>
                        <input class="span1" name="descr_range_to" id="descr_range_to" value="{% firstof form.descr_range_to.value %}" type="text">
                    </div>
                    {% for error in form.descr_range_to.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            {# <!-- Description: Nominal --> #}
            <div class="js-description-form hide control-group {% if form.descr_nominal.errors %}error{% endif %}" id="form-for-nominal">
                <label class="control-label" for="add-nominal-item">Nominal <i class="red">*</i></label>
                <!-- <input class='hidden' type="text" name="descr_nominal" id="descr_nominal" value=""> -->
                <table class="table table-condensed span2" id="table-nominal-id">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Default</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in form.descr_nominal.value %}
                            <tr class="item">
                                <td class="js-nominal-name"><input name="descr_nominal" value="{{ value }}"></td>
                                <td><input type="radio" class="js-nominal-default" name="descr_nominal_default" 
                                    {% if form.descr_nominal_default.value == value %}checked{% endif %} value="{{ value }}"></td>
                                <td><a class="js-nominal-delete btn btn-mini btn-danger">x</a></td>
                            </tr>
                        {% endfor %}
                        <tr class="js_add_item">
                            <td><input id="add-nominal-item"></td>
                            <td></td>
                            <td><a class="btn btn-mini btn-success" id="submit-add-nominal-item">+</a></td>
                        </tr>
                    </tbody>
                </table>
                {% for error in form.descr_nominal.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>

            {# <!-- Description: Scale --> #}
            <div class="js-description-form hide control-group {% if form.descr_scale.errors %}error{% endif %}" id="form-for-scale">
                <label class="control-label" for="add-sacle-item-name">Scale <i class="red">*</i></label>
                
                <table class="table table-condensed span2" id="table-scale-id">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Default</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="sortable">
                        {% for value in form.descr_scale.value %}
                            <tr class="item">
                                <td>0</td>
                                <td class="js-scale-name"><input name="descr_scale" value="{{ value }}"></td>
                                <td><input type="radio" name="descr_scale_default" 
                                    {% if form.descr_scale_default.value == value %}checked{% endif %} value="{{ value }}"></td>
                                <td><a class="js-scale-delete btn btn-mini btn-danger">x</a></td>
                            </tr>
                        {% endfor %}
                        <!-- <tr class="item" id="Small">
                            <td>1</td>
                            <td class="js-scale-name">Small</td>
                            <td><input type="radio" name="descr_scale_default" value="Small"></td>
                            <td><a class="js-scale-delete btn btn-mini btn-danger">x</a></td>
                        </tr>
                        <tr class="item" id="Normal">
                            <td>2</td>
                            <td class="js-scale-name">Normal</td>
                            <td><input type="radio" name="descr_scale_default" value="Normal"></td>
                            <td><a class="js-scale-delete btn btn-mini btn-danger">x</a></td>
                        </tr> -->
                        <tr class="js_add_item">
                            <td></td>
                            <td><input id="add-scale-item"></td>
                            <td></td>
                            <td><a class="btn btn-mini btn-success" id="submit-add-scale-item">+</a></td>
                        </tr>
                    </tbody>
                </table>
                {% for error in form.descr_scale.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
                <!-- <input class='hidden' type="text" name="descr_scale" id="descr_scale" value=""> -->
            </div>
        </fieldset>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>&nbsp;
        </div>
    </form>
</div>

{% endblock %}

{% block endjs %}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.min.js"></script>

    <script type="text/javascript">
        $('#sortable .item').each(function(){
            $(this).find('td:first').html($(this).index());
        });
        
        $(function() {
            $("#sortable").sortable({
                placeholder: "ui-state-highlight",
                axis: "y",
                stop: function(event, ui) {
                    // ui.item.find('td:first').html(ui.item.index());
                    // alert("New position: " + ui.item.index());
                    $('#sortable .item').each(function(){
                        $(this).find('td:first').html($(this).index());
                    });
                }
            });

            $("#sortable").disableSelection();
        });

        
        $type_descr = $('#id_atype option:selected').val()
        $('.js-description-form').hide();
        $('#form-for-' + $type_descr).show();

        $('#id_atype').change(function(){
            $type_descr = $('#id_atype option:selected').val()
            $('.js-description-form').hide();
            $('#form-for-' + $type_descr).show();
        })
        // $('#table-nominal-id tr.item').hover(
        //     function(){
        //         $(this).find('td:last a').show();
        //     },
        //     function(){
        //         $(this).find('td:last a').hide();
        //     }
        // )
        
        // $('#add-nominal-item').forcus()
        // $('#form-for-nominal .js-check_default').click(function(){
        //     if ($(this).is(':checked')) {
        //         $('#form-for-nominal .js-check_default').prop('checked', false);
        //         $(this).prop('checked', true)
        //     };
        // })

        // Add Nominal item
        $('#submit-add-nominal-item').click(function(){
            $add_nominal = $('#add-nominal-item')
            if ($add_nominal.val()) {
                $('#table-nominal-id tr.js_add_item').before(
                    '<tr class="item">
                        <td><input name="descr_nominal" value="' + $add_nominal.val() + '"></td>
                        <td><input type="radio" class="js-nominal-default" name="descr_nominal_default" value="' + $add_nominal.val() + '"></td>
                        <td><a class="js-nominal-delete btn btn-mini btn-danger">x</a></td>
                    </tr>'
                    )
                $add_nominal.val('');
                if ($('.js-nominal-default:checked').attr('checked')) {}
                else {
                    $('.js-nominal-default:first').prop('checked', true)
                };
            };

        });

        // Add Scale item
        $('#submit-add-scale-item').click(function(){
            $add_scale = $('#add-scale-item')
            if ($add_scale.val()) {
                $('#table-scale-id tr.js_add_item').before(
                    '<tr class="item">
                        <td>2</td>
                        <td class="js-scale-name"><input name="descr_scale" value="' + $add_scale.val() + '"></td>
                        <td><input type="radio" name="descr_scale_default" value="' + $add_scale.val() + '"></td>
                        <td><a class="js-scale-delete btn btn-mini btn-danger">x</a></td>
                    </tr>'
                    );
                $add_scale.val('');
                $('#sortable .item').each(function(){
                    $(this).find('td:first').html($(this).index());
                });
            };
        });

        // Delete Nominal Button
        $('#form-for-nominal').delegate('.js-nominal-delete', 'click', function(){
            // TODO if delete checked item check other item as default
            $(this).parent().parent().remove()

            if ($('.js-nominal-default:checked').attr('checked')) {}
            else {
                $('.js-nominal-default:first').prop('checked', true)
            };
        })

        // Delete Scale Button
        $('#form-for-scale').delegate('.js-scale-delete', 'click', function(){
            // TODO if delete checked item check other item as default
            $(this).parent().parent().remove()
            $('#sortable .item').each(function(){
                $(this).find('td:first').html($(this).index());
            });
        })


        // After Submit Form
        // $('#attribute-form-id').submit(function(){
        //     // nominal_list = []
        //     // $(".js-nominal-name").each(function(i, item) {
        //     //     // nominal_names = $.map($(item), function(option, i) {
        //     //     //     return $(option).html();
        //     //     // }).join(", ");
        //     //     nominal_list = nominal_list.concat($(item).html())
        //     // // }).join(", ")
        //     //     // alert(nominal_array);
        //     // });
        //     // $('#descr_nominal').val(nominal_list.join(", "));

        //     scale_value = ""
        //     $('.js-scale-name').each(function(i, item) {
        //         if (i==0) {
        //             scale_value = $(item).html() + ", " + $(item).prev().html()
        //         }
        //         else {
        //             scale_value = scale_value + "; " + $(item).html() + ", " + $(item).prev().html()
        //         }
        //         // scale_dict[$(item).html()] = $(item).after().html()
        //         // scale_value = scale_value + "; " + $(item).html() + ", " + $(item).next().html()
        //     });
        //     $('#descr_scale').val(scale_value);
        //     // return false;
        // });

    </script>
{% endblock %}