{% extends 'base.html' %}

{% block subtitle %}Edit attribute{% endblock %}

{% block forestyle %}
{% endblock %}

{% block forejs %} 
{% endblock %}

{% block content_title %}
    <h2>Attribute: {{ name }}</h2>
{% endblock %}

{% block main %}
    {% comment %}
        <div class="row">
            <div class="span5">
                <dl class="dl-horizontal">
                    <dt>Name</dt><dd>{{ name }}</dd>
                    <dt>Organism</dt><dd>{{ organism }}</dd>
                    <dt>Type</dt><dd>{{ atype }}</dd>
                    <dt>
                        {% if atype == 'nominal' or atype == 'scale' %}
                            Options
                        {% elif atype == 'range' %}
                            Description
                        {% else %}
                            Default value
                        {% endif %}
                    </dt>
                    <dd>
                        {% if atype == 'range' %}
                                <b>Default value</b> {% firstof description.default '<span class="red">n/a</span>' %} 
                                <p><b>From:</b> {{ description.lower }} 
                                <b>To:</b> {{ description.upper }}</p>
                        {% elif atype == 'nominal' %}
                            <ul class="list-no-style">
                            {% for item in description.items %}
                                <li><input type="checkbox" {% if description.default == item %} checked {% endif %} disabled> - {{ item }}</li>
                            {% endfor %}
                            </ul> 
                        {% elif atype == 'scale' %}
                            <ul class="list-no-style">
                            {% for scale in description.scale|dictsort:"weight" %}
                                <li><input type="checkbox" {% if scale.default == scale.name %} checked {% endif %} disabled> - {{ scale.name }}</li>
                            {% endfor %}
                            </ul>   
                        {% else %}
                            {% firstof description.default '<span class="red">n/a</span>' %} 
                        {% endif %}
                    </dd>
                </dl>
                <form action="./" method='POST' id="delete_attr_id">
                    {% csrf_token %}
                    <div class="hidden">
                        <input name="id" value="{{ id }}">
                        <input name="version" value="{{ version }}">
                    </div>
                    <button class="btn btn-danger">Delete attribute</button>
                </form>
            </div>
        </div>
    {% endcomment %}

    <form method="post" action="" class="form-horizontal span12 pull-left" id="attr_edit_form">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <a data-dismiss="alert" class="close">×</a>
                <p>{{ error }}</p>
            </div>
        {% endfor %}

        {% comment %}
        {# <!-- Primary --> #}
        <div class="control-group {% if form.primary.errors %}error{% endif %}">
            <!-- <label class="control-label" for="{{ form.primary.id_for_label }}">{{ form.primary.label }} <i class="red">*</i></label> -->
            <div class="controls">
                {% for radio in form.primary %}
                    <label class="radio inline">
                        {{ radio.tag }} {{ radio.choice_label }}
                    </label>
                {% endfor %}
            </div>
        </div>
        {% endcomment %}

        {# <!-- Name --> #}
        <div class="control-group {% if form.name.errors %}error{% endif %}">
            <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }} <i class="red">*</i></label>
            <div class="controls">
                {{ form.name }}
                {% for error in form.name.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        {# <!-- Organism --> #}
        <div class="control-group">
            <label class="control-label">{{ form.organism.label }}</label>
            <div class="controls">
                {{ form.organism }}
            </div>
        </div>

        {# <!-- Atype --> #}
        <div class="control-group">
            <label class="control-label">{{ form.atype.label }}</label>
            <div class="controls">
                {{ form.atype }}
            </div>
        </div>
        <!-- <fieldset>
            <legend>Description</legend> -->

        {% if form.atype.value == 'range' %}
            {# <!-- Description: Range --> #}
            <div class="control-group">
                <label class="control-label">Range</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">Default value</span>
                        <input class="input-small" type="text" value="{% firstof description.default '' %}" disabled="disabled">
                    </div>
                    <div class="input-prepend range-from">
                        <span class="add-on">From</span>
                        <input class="span1" value="{{ description.lower }}" disabled=="disabled" type="text">
                    </div>
                    <div class="input-append">
                        <span class="add-on">To</span>
                        <input class="span1" value="{{ description.upper }}" disabled="disabled" type="text">
                    </div>
                </div>
            </div>

        {% elif form.atype.value == 'nominal' %}
            {# <!-- Description: Nominal --> #}
            <div class="control-group">
                <label class="control-label">Options</label>
                <table class="table table-bordered table-condensed span4">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in description.items %}
                            <tr class="item">
                                <td>{{ item }}</td>
                                <td><input type="radio" name="descr_nominal_default" 
                                    {% if description.default == item %}checked{% endif %} value="{{ item }}" disabled="disabled"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% elif form.atype.value == 'scale' %}
            {# <!-- Description: Scale --> #}
            <div class="control-group">
                <label class="control-label">Options</label>
                <table class="table table-bordered table-condensed span5">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Weight</th>
                            <th width="70">Default</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scale in description.scale|dictsort:'weight' %}
                            <tr class="item">
                                <td>{{ scale.name }}</td>
                                <td>{{ scale.weight }}</td>
                                <td><input type="radio" name="descr_nominal_default" 
                                    {% if description.default == item %}checked{% endif %} value="{{ scale.name }}" disabled="disabled"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}

            <div class="control-group">
                <label class="control-label">Default value</label>
                <div class="controls">
                    <input class="input-large" type="text" disabled="disabled" value="{% firstof description.default '' %}">
                </div>
            </div>

        {% endif %}

        <!-- </fieldset> -->
        <div class="hidden"><input name="is_delete" id="is_delete"></div>
        <div class="form-actions">
            <a id="delete_attr_btn" class="btn btn-danger">Delete</a>&nbsp;
            <button type="submit" id="save_btn" class="btn btn-success" disabled="disabled">Save</button>&nbsp;
        </div>
    </form>
<!-- </div> -->

{% endblock %}

{% block endjs %}
    <!-- Script for full edit attribute -->
    <!-- // <script src="{{ STATIC_URL }}js/attribute_edit.js"></script> -->

    <script type="text/javascript">
        $('#id_name').change(function(){
            $('#save_btn').removeAttr('disabled')
        })

        $('#delete_attr_btn').click(function(){
            if (confirm("Are you want DELETE THIS ATTRIBUTE and ALL VALUES IN RELATED OBJECTS?")) {
                $('#is_delete').val('yes')
                $('#attr_edit_form').submit()
            }
            return false;
        })

    </script>
{% endblock %}