html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

a {
    cursor: pointer;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
/* Negative indent footer by it's height */
}

.push {
    height: 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}
#footer .container {
    background-color: #f5f5f5;
}

#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.relative {
    position: relative;
}

.container .credit {
    margin: 20px 0;
}


.red {
	color: red;
}

input.error {
	border-color: #bd4247;
}

span.error {
	color: #bd4247;
}

.range-from {
	margin-left: 25px;
}

table#table-nominal-id {
	border: 1px solid gray;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.list-inline ul {list-style: none; margin: 0;}
.list-inline ul > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.object_result_table {
    position: relative;
}

.extra-message-block {
    position: fixed;
    top: 0px;
    right: 0px;
}


.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    /*background-color: '#bebec5';*/
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);

    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    width: 100%;
    height: 100%;
}

.preloader-block {
    position: absolute;
    top: 0px;
    left: 0px;
    /*margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;*/
    background: url('/static/img/preloader-blue.gif');
    background-position: center;
    background-repeat: no-repeat;
    /*width: 128px;
    height: 128px;*/
    width: 100%;
    height: 100%;
}

.preloader-img {
    position: fixed;
    top: 50%;
    left: 45%;
    /*margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;*/
    background: url('/static/img/preloader-blue.gif');
    /*background-position: center;
    background-repeat: no-repeat;*/
    width: 128px;
    height: 128px;
    /*width: 100%;
    height: 100%;*/
}

.filters_block {
    /*border: ;*/
    border: 1px solid #dddddd;
    /*margin: 0 30px;*/
    padding: 10px 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.operand-block-wraper {
    width: 233px;
    margin: auto;
}

.operand-block {
    margin-top: -47px;
}

.where-search {
    margin: 30px auto;
    width: 470px;
}

.saved-query-block {
    margin-bottom: 50px;
}

.modal-body {
    max-height: 600px;
}

.pagination a {
    cursor: pointer;
}