server {

    listen       80;
    server_name bioface.xyzrd.com;
    #access_log  /var/log/nginx/access.log  main;
    #error_log   /var/log/nginx/error.log info;


   location / {
            uwsgi_pass 127.0.0.1:49001;
            include uwsgi_params;
   }

    location /media/ {
        alias %(project_root)s/media/;
        expires 30d;
    }

    location /static/ {
        alias %(project_root)s/static/;
        expires 30d;
    }
}